<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.i000.stock.user.dao.mapper.AssetMapper">

    <resultMap id="Asset" type="com.i000.stock.user.dao.model.Asset">
        <id column="id" property="id"/>
        <result column="date" property="date"/>
        <result column="stock" property="stock"/>
        <result column="balance" property="balance"/>
        <result column="cover" property="cover"/>
        <result column="gain" property="gain"/>
        <result column="user_code" property="userCode"/>
        <result column="total_gain" property="totalGain"/>

        <result column="total_repo_profit" property="totalRepoProfit"/>
        <result column="total_repo_amount" property="totalRepoAmount"/>
        <result column="today_repo_profit" property="todayRepoProfit"/>
        <result column="today_repo_amount" property="todayRepoAmount"/>
        <result column="is_repo" property="isRepo"/>
    </resultMap>

    <select id="getInit" resultMap="Asset">
        select * from asset where user_code=#{userCode} ORDER BY id  limit 1
    </select>

    <select id="getLately" resultMap="Asset">
        select * from asset where user_code=#{userCode} ORDER BY id DESC  limit 1
    </select>

    <select id="getDiff" resultMap="Asset">
        select * from asset where user_code=#{userCode} and date >= DATE_SUB(#{date}, INTERVAL ${diff} DAY) limit 1
    </select>

    <select id="getDiff_2" resultMap="Asset">
        select * from asset where user_code=#{userCode} and date&lt;=#{date} ORDER BY id DESC limit 1
    </select>

    <select id="getDiffByGt" resultMap="Asset">
        select * from asset where user_code=#{userCode} and date>=#{date} ORDER BY id limit 1
    </select>

    <select id="getDiffByLt" resultMap="Asset">
        select * from asset where user_code=#{userCode} and date &lt;=#{date} ORDER BY id DESC limit 1
    </select>

    <select id="findDiff" resultMap="Asset">
        select * from asset where user_code=#{userCode} and date >= DATE_SUB(#{date}, INTERVAL ${diff} DAY)
    </select>

    <select id="getByDate" resultMap="Asset">
        select * from asset where user_code=#{userCode} and date =#{date}
    </select>

    <select id="search" parameterType="com.i000.stock.user.dao.bo.BaseSearchVo" resultMap="Asset">
        select sql_calc_found_rows  * from asset where user_code=#{userCode}   ORDER BY date DESC limit ${baseSearchVo.start},${baseSearchVo.pageSize}
    </select>

    <select id="findByDateUser" resultMap="Asset">
        select * from asset where user_code=#{userCode}
        <foreach collection="dates" item="item" open="and date IN(" close=")" separator=",">
            #{item}
        </foreach>
    </select>


    <select id="findBetween" resultMap="Asset">
        select * from asset  where user_code=#{userCode} and date between #{start} and #{end} ORDER BY date
    </select>

    <select id="getYearFirst" resultMap="Asset">
        select * from asset where date>= #{year} and user_code=#{userCode} ORDER BY id  limit 1
    </select>

    <select id="getLatelyTwoByUserCode" resultMap="Asset">
        select * from asset where user_code=#{userCode} ORDER BY id DESC limit 2
    </select>

    <select id="getByUserCodeAndDate" resultMap="Asset">
        select * from asset where date= #{date} and user_code=#{userCode}
    </select>

    <select id="getBeforeDate" resultMap="Asset">
        select * from asset where date &lt;#{date} and user_code=#{userCode} ORDER BY date DESC limit 1
    </select>

</mapper>