<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.i000.stock.user.dao.mapper.StockPledgeMapper">

    <resultMap id="StockPledge" type="com.i000.stock.user.dao.model.StockPledge">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="date" property="date"/>
        <result column="pledge_number" property="pledgeNumber"/>
        <result column="limited_pledge" property="limitedPledge"/>
        <result column="unlimited_pledge" property="unlimitedPledge"/>
        <result column="total" property="total"/>
        <result column="rate" property="rate"/>
    </resultMap>

    <select id="search" resultMap="StockPledge">
          select sql_calc_found_rows * from stock_pledge where 1=1
            <if test="code != ''">
                and `code` like '%${code}%'
            </if>
            <if test="name != ''">
                and `name` like '%${name}%'
            </if>
           limit ${baseSearchVo.start},${baseSearchVo.pageSize}
    </select>

</mapper>