<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script>
</head>
<body>
<div id="editor">
    <p>欢迎使用 <b>wangEditor</b> 富文本编辑器</p>
</div>
<button id="button" type="button">确定</button>
<!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
<script type="text/javascript">
    var E = window.wangEditor;
    var editor = new E('#editor');
    //注意此处必须指明文件名，否则后台会报错
    editor.customConfig.uploadFileName = 'file';
    editor.customConfig.uploadImgServer = 'http://192.168.43.202:8082/file/upload_user';
    editor.customConfig.emotions = [
        {
            // tab 的标题
            title: '默认',
            // type -> 'emoji' / 'image'
            type: 'image',
            // content -> 数组
            content: [
                {
                    src: 'https://aisharev1.oss-cn-beijing.aliyuncs.com/share/2.gif'
                },
                {
                    src: 'https://aisharev1.oss-cn-beijing.aliyuncs.com/share/1.gif'
                }
            ]
        }
        // {
        //
        //     title: 'emoji',
        //     // type -> 'emoji' / 'image'
        //     type: 'emoji',
        //     // content -> 数组
        //     content: ['😀', '😃', '😄', '😁', '😆']
        // }
    ]
    editor.create()
</script>

<script>
    $(function () {
        event();
    })

    function event() {
        $("#button").click(function () {
            var content = editor.txt.html();
            var json = {"topicId": 1, "userCode": "userCode"};
            json['content'] = content;
            console.log(json);
            $.ajax({
                type: "post",
                url: "http://127.0.0.1:8081/reply/createFirst",
                contentType: "application/json",
                data: JSON.stringify(json),
                cache: false,
                async: false,
                dataType: "json",
                success: function (data, textStatus, jqXHR) {
                    alert("成功")
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("请求失败！");
                }
            });
        })
    }
</script>
</body>
</html>